* {
    margin: 0;
    padding: 0;

}

        #::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
        #::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }
        #::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
nav {
    display:flex;
    justify-content:start;
    width:100%;
    height:80px;
    background-color:#111;
}
.riot-logo-box {
    margin-left:36px;
    display:flex;
    width:95px;
    align-items:center;
}
.lol-link {
    display:flex;
    align-items:center;
    width:38px;
    margin-left:22px;
}
nav  ul {
    display:flex;
    justify-content:flex-start;
    width:1372px;
    height:78px;
    margin-left:5px;
    list-style-type:none;
}
nav ul li {
    display:flex;
    padding-left:35px;
    align-items:center;
}

nav  li  a {
    font-family: "FF Mark W05",Arial,sans-serif;
    letter-spacing: .16em;
    font-size:12px;
    color:#F9F9F9;
    text-align: center;
    text-decoration: none;
    font-weight:600;
}

li a:hover {
    opacity:1;
}

.right-nav {
    margin-left:20px;
    width:290px;
    display:flex;
    flex-direction:row;
    column-gap:14px;
    align-items:center;
}

.right-nav a {
    font-family: "FF Mark W05",Arial,sans-serif;
    display:block;
    height:32px;
    font-size:13px;
    font-weight:700;
    padding:0 16px;
    line-height:32px;
    letter-spacing: .1em;
    text-decoration:none;
    text-align:center;
    white-space:nowrap;
}
.link-but {
    border-radius:8px;
    background-color:#282828;
    color:#F9F9F9;
}
.play-now-but {
    border-radius:12px;
    background-color:#0BC4E2;
    color:#111;
}
.play-now-but:hover {
    background:rgb(0, 178, 207)
}
.ahri {
    position:relative;
    display:flex;
    justify-content:center;
    height:930.55px;
    overflow:hidden;
    margin-top:-110px;
    z-index:-1;
}
.ahri-blur {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 130%;
    filter: blur(8px) brightness(33%);
}
.ahri-content {
    width:1215px;
    height:790px;
    margin-top:-790px;
    margin-left:344px;
}
.ahri-content h3 {
    position:relative;
    font-family:"Beaufort for LOL", serif;
    font-style: italic;
    font-size:26px;
    font-weight:900;
    letter-spacing:-0.0em;
    color:#FFFFFF;
    text-align:center;
    margin-top:-170px;
    text-transform: uppercase;

}
.ahri-content h1{
    position:relative;
    font-family:"Beaufort for LOL", serif;
    font-style: italic;
    font-size:120px;
    font-weight:bold;
    letter-spacing:3.6px;
    color:#FFFFFF;
    text-align:center;
    margin-top:-10px;
}
.skins-gallery {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    height:1086px;
    background:white;
}
.vertical-word {
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    width:60px;
    color:#1C1D2A;
    font-size:12px;
    font-weight:700;
    line-height:60px;
    text-align:center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-transform: uppercase;
    transform: rotate(-180deg);
    letter-spacing: 0.25em;
}
.gallery {
    width:1663px;
    height:100%;
    background:100%;
}
.skins-show {
    width:1560px;
    height:920px;

}