#wrapper 
{
	margin:auto; 
	width:1024px; 
	border:2px blue solid;
	font-size:medium;
}
header 
{
	margin-top:0; 
	height:180px; 
	background-image:url('images/rainbow-banner.jpg');
}
h1 
{
	position:absolute; 
	top:45px; 
	margin-left:30px; 
	font-size:40pt; 
	color:navy; 
	font-weight:bold;
	font-size:250%;}	
h2 
{
	font-size:150%; 
	text-align:center;
	}
p 
{
	font-size:120%; 
	text-align:center;
	}
a 
{
	font-size:120%;
	}
nav {
	float:left;
	width:150px;
	height:190px;
}
#rightcol 
{
	float:right; 
	width:150px; 
	height:190px; 
	background:aqua;
	}
#midcol 
{
	margin-left:155px; 
	margin-right:155px;
	}
br.clear 
{
	clear:both
	}
#midcol-left 
{
	float:left; 
	width:46%; 
	font-weight:bold;
	}
#midcol-right 
{
	float:right; 
	width:50%; 
	font-weight:bold;
	}